[submodule "Capstone/detectron2"]
	path = Capstone/detectron2
	url = https://github.com/pkyIntelligence/detectron2.git
[submodule "Capstone/transformers"]
	path = Capstone/transformers
	url = https://github.com/pkyIntelligence/transformers.git
